Desktop/
Documents/
Downloads/
Personal/
Projects/
Music/
Videos/
Public/
Templates/
Pictures/
rhpkg/
rpmbuild/
test/
.*_history
.*.log
.viminfo
.xchat2/scrollback/
.config/google-chrome/
.config/enchant/
.oh-my-zsh/
.libreoffice/
.cache/
.ccache/
.xsession-errors
.fontconfig/
.local/
.gconf/
.gnome/
.gnome2/
.lesshst
.matplotlib/
.ICEauthority
.abrt/
.argouml/
.dbus/
.gimp-2.6/
.gstreamer-0.10/
.idlerc/
.mission-control/
.mozilla/
.mysql/
.pki/
.pulse-cookie
.pulse/
.scim/
.setroubleshoot
.shotwell/
.so_sane_state
.thumbnails/
.zcompdump
.config/dconf/user
.ssh/known_hosts
.xchat2/chanopt.conf
.zsh-update
id_rsa
id_rsa.pub
dropbear-weizhou.pem
.config/evolution/
.config/gedit/
.config/ipython/
.vim/.netrwhist
.ssh/redhat_id_rsa
.ssh/redhat_id_rsa.pub
.xchat2/servlist_.conf
.dbvis/
.install4j
.java/
DbVisualizer/
.elinks/
.pip/
.rnd
Conflux.ipynb
certificate/
*.ipynb
Mac/.vim/bundle/FixedTaskList.vim/
Mac/.vim/bundle/IndexedSearch/
Mac/.vim/bundle/Wombat/
Mac/.vim/bundle/YankRing.vim/
Mac/.vim/bundle/colorizer/
Mac/.vim/bundle/conque-term/
Mac/.vim/bundle/ctrlp.vim/
Mac/.vim/bundle/dragvisuals.vim/
Mac/.vim/bundle/emmet-vim/
Mac/.vim/bundle/fisa-vim-colorscheme/
Mac/.vim/bundle/git-vim/
Mac/.vim/bundle/matchit.zip/
Mac/.vim/bundle/neocomplcache.vim/
Mac/.vim/bundle/nerdcommenter/
Mac/.vim/bundle/nerdtree/
Mac/.vim/bundle/python-mode/
Mac/.vim/bundle/syntastic/
Mac/.vim/bundle/tabman.vim/
Mac/.vim/bundle/tagbar/
Mac/.vim/bundle/tlib_vim/
Mac/.vim/bundle/vim-addon-mw-utils/
Mac/.vim/bundle/vim-airline-themes/
Mac/.vim/bundle/vim-airline/
Mac/.vim/bundle/vim-autoclose/
Mac/.vim/bundle/vim-choosewin/
Mac/.vim/bundle/vim-ctrlp-cmdpalette/
Mac/.vim/bundle/vim-go/
Mac/.vim/bundle/vim-indent-object/
Mac/.vim/bundle/vim-signify/
Mac/.vim/bundle/vim-snipmate/
Mac/.vim/bundle/vim-snippets/
Mac/.vim/bundle/vim-surround/
Mac/.vim/bundle/vundle/
Mac/.vim/dirs/
