Desktop/
Documents/
Downloads/
Personal/
Projects/
Music/
Videos/
Public/
Templates/
Pictures/
rhpkg/
rpmbuild/
test/
.*_history
.*.log
.viminfo
.xchat2/scrollback/
.config/google-chrome/
.config/enchant/
.oh-my-zsh/
.libreoffice/
.cache/
.ccache/
.xsession-errors
.fontconfig/
.local/
.gconf/
.gnome/
.gnome2/
.lesshst
.matplotlib/
.ICEauthority
.abrt/
.argouml/
.dbus/
.gimp-2.6/
.gstreamer-0.10/
.idlerc/
.mission-control/
.mozilla/
.mysql/
.pki/
.pulse-cookie
.pulse/
.scim/
.setroubleshoot
.shotwell/
.so_sane_state
.thumbnails/
.zcompdump
.config/dconf/user
.ssh/known_hosts
.xchat2/chanopt.conf
.zsh-update
id_rsa
id_rsa.pub
dropbear-weizhou.pem
