[user]
	name = Weitao Zhou
	email = wtzhou@dataman-inc.com
[core]
 editor = vim
[alias]
 br = branch
 ci = commit
 co = checkout
 di = diff
 dt = difftool
 mt = mergetool
 ol = log --oneline --decorate
 st = status
 unstage = reset HEAD --
[color]
 ui = true
[push]
 default = matching
[commit]
	gpgsign = false
[http]
	#cookiefile = /Users/zhou/.gitcookies
	#proxy = http://127.0.0.1:3213
